/*body {*/
/*    background-color: LightGray;*/
/*}*/

/*div {*/
/*    border: 1px solid Chocolate;*/
/*}*/

html {
  box-sizing: border-box;
}
/**, *:before, *:after {*/
/*  box-sizing: inherit;*/
/*}*/

/* Navigation Section */

.top-navigation {
    background-color: #fff;
}

.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}

.content {
    padding: 0px 15px;
}

img.logo {
    height: 85px;
    padding: 0px 15px; 
    margin-top: -200px;
}
.top-navigation .links {
    margin-left: 350px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
    margin-top: 35px;
    
    
}
.top-navigation .links li {
    /*float: right;*/
    display: inline-block;
    margin-left: 25px;
}

.top-navigation .links li:hover {
    color: coral;  
    cursor: pointer;
}


.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;   
}
