body {
    background-color: LightGray;
}

div {
    border: 1px solid Chocolate;
}

img {
    margin-left: 14px;
    height: 70px;
}

.top-navigation {
    background-color: #fff;
    
}

.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}



